@import '../../../../../styles.scss';
.list-wrapper{
    .title{
        font-size: 1.25rem;
        color: $blue;
        margin-right: 20px;
        font-weight: 500;
    }

    table {
        width: 100%;
        th.mat-sort-header-sorted {
            color: black;
        }
    }
    
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    
    .add-btn{
        margin-bottom: 21px;
    }
    
    .edit-btn{
         color: $blue1;
         cursor: pointer;
    }
    
    .no-items{
        text-align: center;
        font-style: italic;
        color: $blue;
    }
    ::ng-deep.spinner{
        margin: auto;
        &.mat-progress-spinner circle,
        &.mat-spinner circle {
            stroke: $blue !important;
        }
    }
    
}
