@import '../styles.scss';

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: $blue;
  color: white;
  font-weight: 600;

  img {
    margin: 0 16px;
  }

  #twitter-logo {
    height: 40px;
    margin: 0 16px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #ffffff;
}

.page-container{
  display: flex;
  flex-direction: row;
  width:100%;
  .side-menu-items{
    width: 20%;
    list-style: none;
    border: 2px solid $gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $blue;
    margin-right: 10px;
    padding: 0;
    font-size: 1rem;
    .side-menu-item{
      width: 100%;
      padding: 10px 0;
      text-align: center;
      cursor: pointer;
      &.title{
        background: $gray;

      }
    }
  }
  .page-content{
    width: 70%;

  }
}
